@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

ul {
    list-style-type: none;
  }

h4 {
    color: #00ed82;
    font-size: 13px;
    text-transform: uppercase;
  }

.header-container .header-content-1 .content-title {
    color: #00ed82;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

a {
    color: #fff;
    text-decoration: none;
    
  }
  
a:hover {
    color: #ccc;
  }

  
.legal-text {
    font-size: 10px;
    color: #ccc;
    margin-top: 20px;
  }
  
  
.text-xl {
    font-size: 50px;
    font-weight: bold;
    color: white;
  }
  
.sub-text {
    color: white;
    max-width: 850px;
    margin-bottom: 10px;
    font-size: 20px;
  text-align: center;
  }

  
.btn {
    display: inline-block;
    background: #fff;
    color: #333;
    min-width: 135px;
    padding: 20px 32px;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #00ed82;
    color: black;
  }
  
.btn-cta:hover {
    opacity: 0.8;
  }
  
.btn-outline {
    display: block;
    width: 18rem;
    padding: 12px 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    background: none;
    color: #fff;
    border: 3px solid #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.9;
  }
  
  
.btn-outline:hover {
    color: #000000;
    background-color: white;
    border-color: #ccc;
  }
  
.btn-dark {
    background: #000;
    color: #fff;
  }

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }


.img-size-1{
    width: 60%;
}

.img-size-2{
    width: 90%;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3vh;
    align-items: center;
    justify-content: space-between;
}
    
.nav-buttons > ul {
        display: flex;
        list-style: none;
}
      
.nav-buttons > ul > li {
        font-size: 18px;
        margin-right: 20px;
        text-decoration: none;
}
    
.nav-buttons > ul > li > a:hover{
        background-color: #333;
        color: white;
}

.logo{
        height: 100%;
}

.content-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 15px;
    font: inherit;
    text-decoration: underline;
    margin-top: 23%;
}

.content-link a {
    margin-top: 10px;
    font-size: 15px;
}

/* Header */
.header {
    height: 700px;
    padding: 20px;
    background: url(../img/main.jpeg) no-repeat center center / cover;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 23vh;
  }

.header-content-1 {
    flex-grow: 1;
    padding: 10px;
    max-width: 400px;
    margin-top: 15%;
    text-align: center;
    border-radius: 5px;
    height: 80%;
}

.header-content-1 .header-text-1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.header .nav-buttons ul .login-btn{
        cursor: pointer;
        background: none;
        border: none;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

.bta-cta {
  width: 100%;
}
  .header .navbar div{
    width: 90px;
  }

.header nav .login-btn {
    display: flex;
   justify-content: flex-start;
    z-index: 2;
    position: relative;
  }
  
.header .navbar .nav-buttons {
    justify-content: right;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
.header  .logo {
    position: relative;
    justify-content: left;
    z-index: 2;
    width: 60px;
    margin: 10px 0;
  }
  

/* Sub Header */
.sub-header {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 70px;
    background: linear-gradient(
      318.68deg,
      #48da85 7%,
      #31b965 40.72%,
      #092912 100%
    );
  }

  .sub-header .sub-title{
    margin-left: 40px;
    align-items: center;
    
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    
  }
  
  .sub-header > div:last-of-type {
    justify-self: center;
    align-self: center;
  }
  
 
/* Categories Section */
.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 90px 20px;
    background-color: #101011;
    
  }
  
.categories .covers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-top: 40px;
    gap: 40px;
  }
  
  .categories .covers:hover {
    color: white;
  }

.categories .covers > div {
    height: 500px;
    width: 300px;
    position: relative;
    
  }
  
.categories .cover-grad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        156.82deg,
        rgba(0, 0, 0, 0.6) 4.58%,
        rgba(0, 0, 0, 0) 69.61%
      ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
  }
  
.categories .cover-text {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
  }
  
.categories .cover-1 {
    background: url('../img/family-guy.png') no-repeat center center / cover;
  }
.categories .cover-2 {
    background: url('../img/prey.jpeg') no-repeat center center / cover;
  }
.categories .cover-3 {
    background: url('../img/only-murders-in-the-building.png') no-repeat center center / cover;
  }
.categories .cover-4 {
    background: url('../img/the-sopranos.png') no-repeat center center / cover;
  }

  /* Live Section */
.live {
    background: #151516;
    padding: 40px;
  }
  
.live-border {
    border-radius: 16px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.live a {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: underline;
  }

  /* Live Sport Section */
   
/* Live Sports */
.live-sports {
    background: url('../img/sports-bg.jpeg') no-repeat center center / cover;
    height: 800px;
    position: relative;
  }
  
  .live-sports-content {
    position: absolute;
    top: 160px;
    left: 100px;
    max-width: 550px;
  }
  
  .live-sports-logos {
    width: 300px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .live-sports-logos > div {
    background: url('../img/network-logo-bg.png') no-repeat center center / cover;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .live-sports-logos img {
    width: 40px;
  }

 /* Footer */
 .footer {
    background: #ebedf2;
    color: #333;
  }
  
  .footer a {
    color: #333;
  }
  
  .footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
  }
  
  .footer-lists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
  }
  
  .footer-lists .list-head {
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .divider {
    width: 100%;
    height: 3px;
    border-top: 1px #ccc solid;
    margin: 30px 0;
  }
  
  .social-icons img {
    width: 25px;
    height: 25px;
    margin-right: 25px;
  }

  .footer li a{
    opacity: 60%;
  }
  
  
